body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

input {
  border: none;
  border-radius: 2rem;
}

button {
  background: #333;
  border: none;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

main {
  position: relative;
  left: 7rem;
}

header {
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  position: relative;
  top: 0;
  left: 7rem;
  width: 100%;
  align-items: center;
  border-bottom: solid 1px black;
  height: 2rem;
}
.header__nickname {
  margin-left: 1rem;
}
.nickname-form__button {
  display: block;
  margin: 0 0 0 auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 7rem;
  background-color: bisque;
  padding: 2rem 0 0 0;
}
.nav__users  {
  padding: 0 10px;
  margin-bottom: 1rem;
}
.nav__users--title {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.nav__users--list {
  list-style-type: none;
}
.nav__users--list > li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav__room {
  padding: 0 10px;
  margin-bottom: 1rem;
}
.nav__room--label {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.nav__room--select {
  width: 100%;
}

.info__list {
  list-style-type: none;
  position: fixed;
  top: 1rem;
  right: 1rem;
  margin: 0;
  font-size: 0.5rem;
  text-align: right;
}

.messages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.messages__list > li {
  padding: 0.5rem 1rem;
}
.messages__list > li:nth-child(odd) {
  background: #efefef;
}

.message-form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 7rem;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.message-form__input {
  padding: 0 1rem;
  flex-grow: 1;
  margin: 0.25rem;
}
.message-form__input:focus {
  outline: none;
}
.message-form__button {
  padding: 0 1rem;
  margin: 0.25rem;
}

.typing {
  position: absolute;
  top: -1rem;
}
